[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
	branch = main
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/Taurenkey/ClickLib.git
