[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/NostraThomas99/OtterGui
	branch = main
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
